  
  
  
  <div class="col-md-8 offset-md-2 mt-3">
    <div class="jumbotron">
      <h1 class="display-3" id="welcomeh1">Dobrodošli!</h1>
      <p class="lead">Testirajte Vaše poznavanje računarskih mreža i tehnologija. Takmičite se protiv Vaših prijatelja (ako ih imate) i saznajte ko najbolje poznaje mreže!</p>
      <hr class="my-4">
      <p>Maksimalan broj igrača u jednoj partiji je 4, trenutni broj konektovanih igrača je <span id="numberOfConnected"></span>.</p>
      <p class="lead">
        <form action="slagalica" method="POST" onsubmit="return checkNicknameForm();">
          <input type="text" name="username" class="form-control" id="nickname" placeholder="Unesite Vaš nadimak" required oninvalid="this.setCustomValidity('Potrebno je uneti nadimak.')"
              oninput="this.setCustomValidity('')">
          <div class="invalid-feedback" id="length-error">Nadimak ne može biti duži od 20 karaktera.</div>
          <div class="invalid-feedback" id="taken-nickname-error">Nadimak je zauzet.</div>
          <button class="btn btn-primary join-btn btn-lg" id="join-btn" type="submit">Pridruži se !</button>
        </form>
      </p>
    </div>
  </div>