  
  
  
  <div class="col-md-8 offset-md-2 mt-3">
    <div class="jumbotron">
      <h1 class="display-3">Dobrodošli!</h1>
      <p class="lead">Testirajte Vaše poznavanje računarskih mreža i tehnologija. Takmičite se protiv Vaših prijatelja (ako ih imate) i saznajte ko najbolje poznaje mreže!</p>
      <hr class="my-4">
      <p>Maksimalan broj igrača u jednoj partiji je 4, trenutno je konektovano 420 igrača.</p>
      <p class="lead">
        <form action="slagalica.html">
          <input type="text" class="form-control" id="nickname" placeholder="Unesite Vaš nadimak" required oninvalid="this.setCustomValidity('Potrebno je uneti nadimak.')"
              oninput="this.setCustomValidity('')"> 
          <button class="btn btn-primary join-btn btn-lg" type="submit">Pridruži se !</button>
        </form>
      </p>
    </div>
  </div>

  <div class="col-md-8 offset-md-2">
    <div class="chat-container">
      <header class="chat-header">
        <h1><i class="fas fa-smile"></i> Chat</h1>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3><i class="fas fa-users"></i> Igrači</h3>
          <ul id="users">
            <li>Brad</li>
            <li>John</li>
            <li>Mary</li>
            <li>Paul</li>
            <li>Mike</li>
          </ul>
        </div>
        <div class="chat-messages">

        </div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input type="text" class="form-control" id="chat-message-input" placeholder="Unesite poruku" required auto complete="off"
              oninvalid="this.setCustomValidity('Potrebno je uneti poruku.')" oninput="this.setCustomValidity('')"> 
          <button class="btn btn-sm btn-primary chat-send-message-btn"><i class="fas fa-paper-plane"></i> Pošalji</button>
        </form>
      </div>
    </div>
  </div>

  <br><br><br>