td{
    font-weight: 400;
}

.games-container{
    text-align: center;
    margin-top: 4rem;
}

.ready-btn{
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
}

.letter-btn{
    border: 1px black solid;
    padding: 1rem 1.5rem;
    margin: 1rem;
}

.delete-letter-btn{
    padding: 0.5rem 1rem;
}

.confirm-button{
    width: 80%;
    margin-left: -3.5rem;
    margin-top: 1rem;
}

#word-input{
    display: inline-block;
    width: 80%;
    margin: 0;
    height: 2.7rem;
    margin-top: .2rem;
}

#timer{
    font-size: 2rem;
}

.spojnice-btn, .spojnice-btn-key{
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: .5rem;
}

.spojnice-btn:focus,.spojnice-btn:active {
    outline: none !important;
    box-shadow: none;
 }

.question-header{
    font-size: 2.5rem;
}

#send-answer-button{
    width: 100%;
    margin-top: 1rem;
}

@media only screen and (max-width: 767px){
    .spojnice-btn-container{
        margin-top: 3rem;
    }
}


@media only screen and (max-width: 360px){
    .confirm-button{
        margin-left: 0;
    }
}




  