td{
    font-weight: 400;
}

.games-container{
    text-align: center;
    margin-top: 4rem;
}

.ready-btn{
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
}

.letter-btn{
    border: 1px black solid;
    padding: 1rem 1.5rem;
    margin: 1rem;
}

.delete-letter-btn{
    padding: 0.5rem 1rem;
}

.confirm-button{
    width: 80%;
    margin-left: -3.5rem;
    margin-top: 1rem;
}

#chosen-word{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

#word-input{
    display: inline-block;
    width: 80%;
    margin: 0;
    height: 2.7rem;
    margin-top: .2rem;
}

#timer{
    font-size: 2rem;
}

.spojnice-btn, .spojnice-btn-key{
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: .5rem;
}

.spojnice-btn:focus,.spojnice-btn:active {
    outline: none !important;
    box-shadow: none;
    background-color: #fff;
    color: #000;
 }

.question-header{
    font-size: 2.5rem;
}

#send-answer-button{
    width: 100%;
    margin-top: 1rem;
}

#correct-answer{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.jumbotron-custom{
    padding: 1rem 2rem;
}

.guessed-div{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 1.8rem 1.8rem;
    margin: .7rem .2rem;
}

.guess-container-btn, .guess-container-btn-question{
    padding: .5rem 1rem;
    margin: 1rem .2rem 0 .2rem;
    font-size: 2rem;
    min-height: 70px;
    min-width: 70px;
    box-sizing: border-box;
}

.skocko-btn{
    font-size: 2rem;
    min-height: 70px;
    min-width: 70px;
    box-sizing: border-box;
}

@media only screen and (max-width: 991px){
    .guess-container-btn, .guess-container-btn-question, .skocko-btn{
        font-size: 1.1rem;
        min-height: 50px;
        min-width: 50px;
    }

    .guessed-div{
        padding: 1.5rem 1.5rem;
        margin: .35rem .2rem;
    }
}




@media only screen and (max-width: 767px){
    .letter-btn{
        padding: 1rem 1.5rem;
        margin: .1rem;
    }

    .guess-container-btn, .guess-container-btn-question, .skocko-btn{
        font-size: .9rem;
        min-height: 35px;
        min-width: 40px;
        margin: 1rem 0 0 0;
        padding: .3rem .7rem;
    }

    .guessed-div{
        padding: 1rem 1rem;
        margin: .4rem 0.1rem;
    }

    .skocko-btn{
        padding: .5rem 1rem;
    }
}

@media only screen and (max-width: 520px){
    .letter-btn{
        padding: 1rem 1.5rem;
        margin: .1rem;
    }

    .guess-container-btn, .guess-container-btn-question, .skocko-btn{
        font-size: .5rem;
        min-height: 25px;
        min-width: 20px;
        margin: 1rem 0 0 0;
        padding: .3rem .7rem;
    }

    .guessed-div{
        padding: .8rem .8rem;
        margin: .3rem 0.1rem;
    }

    .skocko-btn{
        padding: .5rem 1rem;
        font-size: .7rem;
    }
}

@media only screen and (max-width: 448px){
    .letter-btn{
        padding: .5rem .9rem;
        margin: .1rem;
    }

    .guess-container-btn, .guess-container-btn-question, .skocko-btn{
        font-size: .5rem;
        min-height: 25px;
        min-width: 20px;
        margin: 1rem 0 0 0;
        padding: .3rem .7rem;
    }

    .guessed-div{
        padding: .8rem .8rem;
        margin: .3rem 0.1rem;
    }

    .skocko-btn{
        padding: .5rem 1rem;
        font-size: .7rem;
    }
}


@media only screen and (max-width: 360px){
    .confirm-button{
        margin-left: 0;
    }
}




  