td{
    font-weight: 400;
}

.games-container{
    text-align: center;
    margin-top: 4rem;
}

.ready-btn{
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
}

.letter-btn{
    border: 1px black solid;
    padding: 1rem 1.5rem;
    margin: 1rem;
}

.delete-letter-btn{
    padding: 0.5rem 1rem;
}

#word-input{
    margin-top: .3rem;
    right: 1px;
    width: 80%;
    position: absolute;
}

@media only screen and (max-width: 767px){
    #word-input{
        position: static;
        margin-left: 2rem;
    }
  }
  