<div class="container">
  <div class="row">
    <div class="col-md-12 games-container">

        <button type="button" class="btn btn-outline-danger btn-large ready-btn">Spreman <i class="fas fa-times"></i></button>

        <p id="timer"></p>

          {{!-- <h1 id='game-name-header'>KO ZNA ZNA</h1>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="jumbotron">
                  <p id='timer'>15</p>
                  <h3 class="display-3 pitanje-header">1. PITANJE</h3>
                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto velit adipisci dolorum eius unde, tempora molestias saepe inventore vitae, asperiores magnam commodi. Nulla recusandae a aut placeat. Animi possimus placeat quisquam reiciendis dignissimos. Fugiat pariatur, nihil est natus tempore dicta!</p>
                  <hr class="my-4">
                 <div class="form-group has-success">
                  <input type="text" placeholder="Unesite Odgovor" class="form-control" id="answer-input">
                    <button class="btn btn-primary btn-lg" id="send-answer-button" role="button">Pošalji</button>
                </div>
                </div>
              </div>
            </div>
          </div> --}}

          <br>


    </div>
  </div>
</div>




  <br><br><br>