<div class="container">
  <div class="row">
    <div class="col-md-12 games-container">

        <button type="button" class="btn btn-outline-danger btn-large ready-btn">Spreman <i class="fas fa-times"></i></button>

        <p id="timer"></p>


    <p id='timer'>60</p><h1 id='game-name-header'>SKOČKO</h1>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 col-sm-6 col-6">
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></button>
          <button class='btn btn-outline-primary guess-container-btn'></button>
          <button class='btn btn-outline-primary guess-container-btn'></button>
          <button value="6" class='btn btn-outline-primary guess-container-btn-question'><i class="fas fa-question"></i></button>

          <br>

          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></button>
          <button value="5" class='btn btn-outline-primary guess-container-btn-question'><i class="fas fa-question"></i></button>

          <br>

          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></button>
          <button value="4" class='btn btn-outline-primary guess-container-btn-question'><i class="fas fa-question"></i></button>

          <br>

          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></button>
          <button value="3" class='btn btn-outline-primary guess-container-btn-question'><i class="fas fa-question"></i></button>

          <br>

          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></button>
          <button value="2" class='btn btn-outline-primary guess-container-btn-question'><i class="fas fa-question"></i></button>

          <br>

          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></i></button>
          <button class='btn btn-outline-primary guess-container-btn'></button>
          <button value="1" class='btn btn-outline-primary guess-container-btn-question'><i class="fas fa-question"></i></button>
        </div>

        <div class="col-md-6 col-sm-6 col-6"> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 

          <br>

          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 

          <br>

          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 

          <br>

          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 

          <br>

          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 

          <br>

          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
          <div class='guessed-div'></div> 
        </div>

      </div>
    </div>

    <br>

    <button value="chrome" class='btn btn-outline-primary skocko-btn'><i class="fab fa-chrome"></i></button>
    <button value="firefox" class='btn btn-outline-primary skocko-btn'><i class="fab fa-firefox"></i></button>
    <button value="opera" class='btn btn-outline-primary skocko-btn'><i class="fab fa-opera"></i></button>
    <button value="safari" class='btn btn-outline-primary skocko-btn'><i class="fab fa-safari"></i></button>
    <button value="edge" class='btn btn-outline-primary skocko-btn'><i class="fab fa-edge"></i></button>
    <button value="ie" class='btn btn-outline-primary skocko-btn'><i class="fab fa-internet-explorer"></i></button>

          {{!-- <h1 id='game-name-header'>KO ZNA ZNA</h1>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="jumbotron">
                  <p id='timer'>15</p>
                  <h3 class="display-3 pitanje-header">1. PITANJE</h3>
                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto velit adipisci dolorum eius unde, tempora molestias saepe inventore vitae, asperiores magnam commodi. Nulla recusandae a aut placeat. Animi possimus placeat quisquam reiciendis dignissimos. Fugiat pariatur, nihil est natus tempore dicta!</p>
                  <hr class="my-4">
                 <div class="form-group has-success">
                  <input type="text" placeholder="Unesite Odgovor" class="form-control" id="answer-input">
                    <button class="btn btn-primary btn-lg" id="send-answer-button" role="button">Pošalji</button>
                </div>
                </div>
              </div>
            </div>
          </div> --}}

          <br>


    </div>
  </div>
</div>




  <br><br><br>