<div class="container">
  <div class="row">
    <div class="col-md-12 games-container">

        <button type="button" class="btn btn-outline-danger btn-large ready-btn">Spreman <i class="fas fa-times"></i></button>

        <p id="timer"></p>



{{!-- 
          <p id='timer'>60</p><h1 id='game-name-header'>SPOJNICE</h1>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <button class='btn btn-outline-primary spojnice-btn'>A</button>
                <button class='btn btn-outline-primary spojnice-btn'>A</button>
                <button class='btn btn-outline-primary spojnice-btn'>A</button>
                <button class='btn btn-outline-primary spojnice-btn'>A</button>
                <button class='btn btn-outline-primary spojnice-btn'>A</button> 
                <button class='btn btn-outline-primary spojnice-btn'>A</button> 
              </div>
              <div class="col-md-6">
                <button class='btn btn-outline-primary spojnice-btn'>A</button>
                <button class='btn btn-outline-primary spojnice-btn'>A</button>
                <button class='btn btn-outline-primary spojnice-btn'>A</button>
                <button class='btn btn-outline-primary spojnice-btn'>A</button>
                <button class='btn btn-outline-primary spojnice-btn'>A</button> 
                <button class='btn btn-outline-primary spojnice-btn'>A</button> 
              </div>
            </div>
          </div> --}}

      
      
          <br>
          <br>


    </div>
  </div>
</div>




  <br><br><br>